{%extends 'baseU.html'%}
{% block nav%}
<div class="container">
  <h1>Serch trains</h1>
  <form action="/rail/search/tp" method="post">
    {%csrf_token%}
    <div class="input-group col-md-2 col-md-offset-5">

      <input type="number" class="form-control " placeholder="0" name="search" aria-describedby="basic-addon1"value="0">
    </div>


    </div>
    <button class="btn btn-default col-md-1 col-md-offset-5">search</button>

    </form>

  {% for k in t %}
  <h2>{{k.trno}}</h2>
  <p>{{k.trname}}</p>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>order no</th>
        <th>Station</th>

        <th>
          Scheduled arrival
        </th>
        <th>
          scheduled Departure
        </th>
        <th>
          arrival
        </th><th>
            departure
        </th>

        <th>
          actions
        </th>
      </tr>
      </thead>
      <tbody>
        {%for j in i%}
        {% if j.trno == k %}
      <tr>
        <td class= <div class="col-md-2">
        {{j.ordn0 }}</td>
        <td class="col-md-1">{{j.stationC}}</td>
          <td class="col-md-1">{{j.sA}}</td>
            <td class="col-md-1">{{j.aD}}</td>
            <td class="col-md-1">{{j.A}}</td>
            <td class="col-md-1">{{j.D}}</td>





      </tr>
      {%endif%}
      {%endfor%}
      {% endfor %}
    </tbody>
  </table>
</div>

{%endblock%}
